@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

article:nth-child(2n+1) {
    background: #bbb1b1; /* Цвет фона */
    color: #000000;
} 
article:nth-child(2n) {
    background: #090909; /* Цвет фона */
    color: #bbb1b1; /* Цвет текста */
} 

/* h1 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    color: #131313;
} */

h1 {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 50px;
    word-spacing: 10px;
    text-align: center;
    margin-bottom: 20px;
    background: inherit;
}

h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 50px;
    word-spacing: 10px;
    text-align: center;
    margin-bottom: 20px;
    background: inherit;
}

/* .menu {
    position: fixed;
    right: 10px;
    width: 300px;
    padding: 10px;
    border: solid 2px #868686;
    background-color: white;
} */

.menu ul {
    padding-left: 60px;
}

.wrapper {
    max-width: 1170px;
    margin: 50px auto;
    padding: 20px;
}

.wrapper article img {
    width: 100%;
    margin-bottom: 25px;
    transition: 0.6s;
    transform: scale(1);
}

.scale {
    transition: 1s; /* Время эффекта */
}
.scale:hover {
    transform: scale(1.05); /* Увеличиваем масштаб */
}

.wrapper header {
    text-indent: 60px;
}

.wrapper article li {
    text-indent: 60px;
}

.wrapper footer {
    text-indent: 60px;
}

.menu a:hover {
    color: rgb(221, 0, 255);
}

.menu li{
    transition: 0.6s;
    transform: scale(1);
}

.menu li:hover{
    transform: scale(1.07);
}

.menu li a{
    transition: 0.6s;
}

footer a:hover {
    color: rgb(221, 0, 255);
}


